.vscode/

.pot
.pyc
.envs
media/

# Archivos y directorios generados por Django
__pycache__/
.pyc
.pyo
.pyd
.db
.sqlite3
.log
/migrations/
db.sqlite3

# Archivos de caché de Python
__pycache__/

# Archivos temporales
.DS_Store
Thumbs.db

# Archivos de configuración
.env
